# Logs
*.log

# Runtime data
tmp
build
dist
coverage
lib

# Dependency directory
# Dependency directory
node_modules
.yarn
.pnp
.cache

# Optional cache directory
.DS_*

# IDE files and settings
.idea
*.iml
*.ipr
*.iws
.code/
.vscode

# Jest
#
.jest/
