name: B2B React Native SDK - Build and Test
on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: false
        default: 'warning'
      tags:
        description: 'Test run'
  pull_request:
    branches: [main]
    paths:
      - '.github/**'
      - 'packages/**'
      - 'examples/**'
      - 'packages.json'
      - 'yarn.lock'
      - 'example/**'
  push:
    branches: [B2B-1162-rn-sdk-add-lint-check-to-git-hub-flow]
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Setup Node.js environment
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
      - name: Install dependencies
        run: yarn
      - name: Checking for type errors
        run: yarn typecheck
      - name: Checking for linting errors
        run: yarn lint
      - name: Yarn build
        run: yarn build
      - name: Yarn test
        run: yarn test
